<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="This search engine allows you to find GitHub repositories">
  <meta name="author" content="David Verdú Ojeda">

  <title>Explore GitHub!</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Explore GitHub!</a>
    </div>
  </nav>

  <!-- Search form -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Find GitHub Repositories with a simple click!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form id="search-form" action="/search" method="post">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" id="query" name="query" value="<%= params[:query] %>" class="form-control form-control-lg" placeholder="Enter your search keywords...">
              </div>
              <div class="col-12 col-md-3">
                <input type="submit" id="search-button" value="Search!" class="btn btn-block btn-lg btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">
          <img class="spinner-border">
        </div>
      </div>
    </div>
  </section>

  <% if params[:query] and !params[:query].empty? %>
    <% if @repositories and !@repositories.empty? %>
      <section class="search-results text-center bg-light">
        <div class="overlay"></div>
        <div class="container">
          <h2 class="mb-5">Search results...</h2>
          <% @repositories.each do |repository| %>
              <div class="row">
                <div class="col-md-12">
                  <h3><a href="<%= repository.html_url %>" target="_blank"><%= repository.full_name %></a></h3>
                  <p><%= repository.description %></p>
                  <p><%= repository.language %></p>
                </div>
              </div>

          <% end %>
        </div>
      </section>
    <% else %>
        <section class="no-results-found text-center bg-light">
          <div class="overlay"></div>
          <div class="container">
            <h2 class="mb-5">No results found</h2>
          </div>
        </section>
    <% end %>

  <% else %>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Fully Responsive</h3>
              <p class="lead mb-0">This search engine will look great on any device, no matter the size!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Fully updated</h3>
              <p class="lead mb-0">Latest GitHub info is get by using their API</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Just enter the keywords and click on Search button!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

<% end %>


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 h-100 text-center my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; <a href="http://davidverduojeda.info" target="_blank">David Verdú Ojeda</a> 2019. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    //Javascript methods to disable button when no text is on the search input
    function toggleSearchButton() {
        var search_input = $("#query");
        var search_button = $("#search-button");
        if (search_input.val().length > 0) {
            search_button.removeClass("disabled");
        } else {
            search_button.addClass("disabled");
        }
    }

    //handle when search input field content changes
    $("#query").on("change keypress", function(event) {
        toggleSearchButton();

        //handle Enter keypress
        if (event.which == 13) {
            var search_input = $("#query");
            if (search_input.val().length == 0)
            {
                //prevents form to be submitted on enter key press and empty input field
                event.preventDefault();
                return false;
            } else {
                $(".spinner-border").css('visibility', 'visible'); //display spinner on Enter
            }
        }

    });

    $("#search-button").click(function() {
        if ($("#search-button").hasClass("disabled")) {
            return false;
        }
        $(".spinner-border").css('visibility', 'visible'); //display spinner in click
    });

    //initialize search button and put focus on search input
    $(document).ready(function() {
        toggleSearchButton();
        $("#query").focus();
    });
  </script>
</body>

</html>
